# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular languages for Data Science.
- List of popular libraries for Data Science.
- List of Data Science tools.
- How to carry out arithmetic operations.
- How to store variables.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. SciPy
2. NumPy
3. Pandas
4. ggplot
5. dplyr

| Data Science Tools |
 --------------------
| JupyterLab |
| Rstudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
min = 200
hours = min/60
#This will convert 200 minutes to hours by diving by 60

## Author
Janak Prabhu